.card{
    width: 300px;
    min-height: 300px;
    margin-top: 10px;
    /* max-height: 300px; */

}
.label {
    font-size: 12px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    color: white !important;
  }
  .bkg{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000099;
   z-index: 20;
   top: 0;
  }
  .input {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid #ccc; */
    background-color: #39393963 !important;
    border-radius: 12px;
    margin-left: 10px;
    color: white !important;
  }
.button2 {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #d91e75;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 10px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    width: 100%;
  }
.collection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 30px 10px;
    margin-top: 70px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    position: relative;
    flex-direction: column;
    z-index: 10;
 
    
}
.title{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    color: white;
    width: 100%;
}
.card img{
    width: 100%;
    min-height: 200px;

    border-radius: 12px;
}
.card img:hover{
transform: scale(1.1);
transition-duration: 0.5s;
}

.form_group {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
  }
 
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    height: max-content;
    border-radius: 10px;
    z-index: 1000;
    padding: 20px 30px;
    border: 1px solid white;
    width: 500px;
  }
  .confirm {
  
    /* position: absolute; */
   
  }
  .cancel{
    margin-top: 50px;
    color: white;
    background-color: black ;
    border: 5px solid transparent;
    transition: .2s ease;
    border-radius: 10px;
    width: 100%;
    font-size: 16px; 
    font-family: Unbounded;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
  }
  .cancel:hover {
    color: black ;
    background-color: white;
    transform: scale(1.1);
    border: 5px solid black ;
  }
  .confirmShow {
    /* top: calc(50% - 140px); */
  }
  
  .confirmContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 1.5rem;
  }
  
  .walletbtn{
    width: 200px !important;
    /* position: absolute;
    top: 20px;
    right: 20px; */
    margin-top: 20px;
    cursor: pointer;
  }
  .walletbtn {
    color: white;
    /* background-color: black ; */
  /* background: linear-gradient(180deg, #35B3D4 0%, #2CE25A 100%); */
  background-color: #d91e75;
  
    border: 5px solid transparent;
    transition: .2s ease;
    border-radius: 10px;
    width: 100%;
    font-size: 16px; 
    font-family: Unbounded;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
  }
  
  .walletbtn:hover {
    /* color: black ;
    background-color: white; */
    transform: scale(1.1);
    /* border: 5px solid black ; */
  }
  .wallets{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .connect{
    position: absolute;
    top: 20px;
  right: 10px;
  }
  .connect button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #d91e75;
  border: none;
  border-radius: 12px;
  margin-bottom: 20px;
  }
  .connect2{
    position: relative;
  margin-top: 10px;
  }
  .connect2 button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #d91e75;
  border: none;
  border-radius: 12px;
  margin-bottom: 20px;
  }
  .btns{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  @media screen and (max-width: 450px) {
    .confirm {
  
    }
  }
  
@media screen and (max-width:1000px) {
    .collection{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 12px;
        padding: 30px 10px;
        margin-top: 20px;
    }  
    .modal{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #000;
        height: max-content;
        border-radius: 10px;
        z-index: 1000;
        padding: 20px 30px;
        border: 1px solid white;
        width: 90%;
      }
}